body {
  margin: 0;
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

header {
  padding: 4rem 1rem;
  text-align: left;
}

header h1 {
  font-size: 3rem;
}

.button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background: white;
  color: #a15a38;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 2rem 1rem;
  max-width: 800px;
  margin: 0 auto;
  background: white;
  margin-top: 1rem;
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #ddd;
  margin-top: 2rem;
}

/* Contact section styling */
.contact-container {
  margin: 2rem;
  padding: 1rem;
  background: white;
  text-align: left;
  border-radius: 8px;
}

.contact-container break {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.contact-container h2 {
  margin-top: 0;
}

.contact-container p {
  margin: 10px 0;
}
